[Unit]
Description=Dibbler Server
After=networking.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/dibbler-server start
ExecStop=/usr/bin/pkill dibbler-server stop
PrivateTmp=true
NonBlocking=yes

[Install]
WantedBy=multi-user.target
