[Unit]
Description=Reverse network interfaces on a Linksys WRT1900ac v1
Documentation=https://github.com/Chadster766/McDebian/wiki/Reversed-network-interfaces-on-WRT1900ac
After=localfs.target
Before=systemd-udevd.service
DefaultDependencies=no
ConditionPathExists=/etc/udev/rules.d/70-persistent-net.rules

[Service]
ExecStart=/etc/systemd/reverse-wrt1900v1-network-interfaces
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=sysinit.target
