/*
 * Device Tree file for the Linksys WRT32X (Venom)
 *
 * Copyright (C) 2016 Imre Kaloz <kaloz@openwrt.org>
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include "armada-385-linksys.dtsi"

/ {
	model = "Linksys WRT32X";
	compatible = "linksys,venom", "linksys,armada385", "marvell,armada385",
		     "marvell,armada380";
};

&expander0 {
	wan_amber@0 {
		label = "venom:amber:wan";
		reg = <0x0>;
	};

	wan_white@1 {
		label = "venom:white:wan";
		reg = <0x1>;
	};

	usb2@5 {
		label = "venom:white:usb2";
		reg = <0x5>;
		linux,default-trigger = "usbport";
	};

	usb3_1@6 {
		label = "venom:white:usb3_1";
		reg = <0x6>;
		linux,default-trigger = "usbport";
	};

	usb3_2@7 {
		label = "venom:white:usb3_2";
		reg = <0x7>;
		linux,default-trigger = "usbport";
	};

	wps_white@8 {
		label = "venom:white:wps";
		reg = <0x8>;
	};

	wps_amber@9 {
		label = "venom:amber:wps";
		reg = <0x9>;
	};
};

&gpio_leds {
	power {
		gpios = <&gpio1 24 GPIO_ACTIVE_HIGH>;
		label = "venom:white:power";
	};

	sata {
		gpios = <&gpio0 21 GPIO_ACTIVE_LOW>;
		label = "venom:white:sata";
	};

	wlan_2g {
		gpios = <&gpio1 13 GPIO_ACTIVE_LOW>;
		label = "venom:white:wlan_2g";
	};

	wlan_5g {
		gpios = <&gpio1 14 GPIO_ACTIVE_LOW>;
		label = "venom:white:wlan_5g";
	};
};

&gpio_leds_pins {
	marvell,pins = "mpp21", "mpp45", "mpp46", "mpp56";
};

&nand {
	/* Winbond/MXIC (W29N02GV) 256MiB, OEM Layout */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "u-boot";
			reg = <0x0000000 0x200000>;  /* 2MB */
			read-only;
		};

		partition@200000 {
			label = "u_env";
			reg = <0x200000 0x20000>;    /* 128KB */
		};

		partition@220000 {
			label = "s_env";
			reg = <0x220000 0x40000>;    /* 256KB */
		};

		partition@180000 {
			label = "unused_area";
			reg = <0x260000 0x5c0000>;   /* 5.75MB */
		};

		partition@7e0000 {
			label = "devinfo";
			reg = <0x7e0000 0x40000>;   /* 256KB */
			read-only;
		};

		/* kernel1 overlaps with rootfs1 by design */
		partition@900000 {
			label = "kernel1";
			reg = <0x900000 0x7b00000>;  /* 123MB */
		};

		partition@c00000 {
			label = "rootfs1";
			reg = <0xc00000 0x7800000>;  /* 120MB */
		};

		/* kernel2 overlaps with rootfs2 by design */
		partition@8400000 {
			label = "kernel2";
			reg = <0x8400000 0x7b00000>; /* 123MB */
		};

		partition@8700000 {
			label = "rootfs2";
			reg = <0x8700000 0x7800000>;  /* 120MB */
		};

		/* last MB is for the BBT, not writable */
		partition@ff00000 {
			label = "BBT";
			reg = <0xff00000 0x100000>;
		};
	};
};

&sdhci {
	pinctrl-names = "default";
	pinctrl-0 = <&sdhci_pins>;
	no-1-8-v;
	non-removable;
	wp-inverted;
	bus-width = <8>;
	status = "okay";
};

&usb3_1_vbus {
	gpio = <&gpio1 12 GPIO_ACTIVE_HIGH>;
};

&usb3_1_vbus_pins {
	marvell,pins = "mpp44";
};
